@font-face {
    font-family: myFirstFont;
    src: url(../../rsufont/RSU_BOLD.ttf) format("truetype");
 }

* {
    font-family: 'myFirstFont', sans-serif;
}


body{
    background-image: url("../../img/bg-10.jpg");
    background-size: 100vw;
    background-repeat: repeat;
    font-size: 1.5rem;
}
#bg{
    position: fixed;
    height: 96%;
    width: 98%;
    
    top: 1%;
    left: 1%;
    
}

.desbutton{
    top: 3vw;
    left: 4vw;
    padding: 0;
    margin: 2%;
    height: 13vh;
    width: 31vw;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(254,210,165);
    position: relative;
} 

#start{
    background-color: rgb(255, 197, 87);
    transition: .3s;
    cursor:pointer;
    color: white;
}
.center{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
}

#contentBox {
    top: 5vw;
    left: 40%;
    position: absolute;
    height: 70vh;
    width: 55%;
    padding-left: 1%;
    padding-right: 1%;
    border-spacing: 1%;
    border: dashed grey 3px;
    font-size: 1.5rem;
  }
  
#Content1 {
    font-size: 1.2rem;
    text-indent: 5px;
    position: relative;
    margin: 0;
    padding-top: 10vh;
    height: 70vh;
    width: 100%;
    
}
#Content2 {
    font-size: 1.2rem;
    text-indent: 5px;
    position: relative;
    margin: 0;
    padding-top: 10vh;
    display: none;
    height: 70vh;
    width: 100%;


}


#backtomain{
    position: absolute;
    top: 85%;
    left: 9%;
    height: 6%;
    width: 15%;
    background-color: #c0c0c0;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    transition: all .3s;
    cursor:pointer;
    color: white;
}
#next{
    position: absolute;
    top: 85%;
    left: 79%;
    height: 6%;
    width: 15%;
    background-color: rgb(255, 197, 87);
    cursor:pointer;
}
#back{
    position: absolute;
    top: 85%;
    left: 60%;
    height: 6%;
    width: 15%;
    background-color: #c0c0c0;
    transition: all .3s;
    cursor:pointer;
    color: white;
}

#next:hover {
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46);
    transition:.3s;
}

#back:hover {
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46);
}

#db1:hover {
    box-shadow: 3px 3px 10px 3px rgba(46, 46, 46, 0.1);
    transition: .2s;
}

#db2:hover {
    box-shadow: 3px 3px 10px 3px rgba(46, 46, 46, 0.1);
    transition:.2s;
}

#db1:active {
    background-color: transparent;
    box-shadow: #e8e9bdaa 3px 3px 10px 3px;
    border-bottom: 2px solid #2224;
    color: #444;
}

#db2:active {
    background-color: transparent;
    box-shadow: #e8e9bdaa 3px 3px 10px 3px;
    border-bottom: 2px solid #2224;
    color: #444;
}

#next:active {
    background-color: transparent;
    box-shadow: #e8e9bdaa 3px 3px 10px 3px;
    border-bottom: 2px solid #2224;
    color: #444;
}

#back:active {
    background-color: transparent;
    box-shadow: #e8e9bdaa 3px 3px 10px 3px;
    border-bottom: 2px solid #2224;
    color: #444;
}

#backtomain:active {
    background-color: transparent;
    box-shadow: #e8e9bdaa 3px 3px 10px 3px;
    border-bottom: 2px solid #2224;
    color: #444;
}

#backtomain:hover {
    box-shadow: 3px 3px 15px 3px #c0c0c0cc;
}

#start:hover {
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46);
}

#start:active {
    background-color: transparent;
    box-shadow: #e8e9bdaa 3px 3px 10px 3px;
    border-bottom: 2px solid #2224;
    color: #444;
    cursor:pointer;
}

@media (max-width: 610px){
    body{
        font-size: 3vw;
    }
    #Content2 {
        padding-top: 5vh;
        font-size: 3.5vw;
    }
    #Content1 {
        padding-top: 5vh;
        font-size: 3.5vw;
    }
    .desbutton{
        font-size: 5vw;
    }
}