
.modal-footer{
     padding: 0;
     padding-bottom: 1%;
     background-color: #ffffe0;
}

.close{
    position: absolute;
    right: 3%;
    top: 6%;
} 
.close mark{
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: rgb(216, 87, 87);
}

#howtolearnhead{
    background-color: #afeeee;
    text-align: center;
    margin: 0;
}

#howtolearnhead h4{
    font-size: 2rem;
}


#howtolearnicon{
    height: 40vh;
    margin: 0;
    background-color: #ffffe0;
}

#howtolearnicon img{
    width: 100%;
}

#howtolearnicon div{
    text-align: center;
}

#howtolearnicon h6{
    margin-top: 3vh;
    font-size: 1rem;
}


@media (max-width: 400px){
    #howtolearnicon{
        height: 50vh;
    }
   
}

@media (max-width: 575px){
    #howtolearnicon{
        height: 60vh;
    }
    #howtolearnicon div{
        padding: 0vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 2vh;
    }

}

@media (max-width: 991px){
    #howtolearnicon{
        height: 30vh;
    }
    #howtolearnicon div{
        padding: 0vw;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 2vh;
    }
}

@media (min-width: 992px){
    #howtolearnicon{
        height: 40vh;
    }
    #howtolearnicon div{
        padding: 0vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 2vh;
    }
    
}

/* popup1 */

#lessonshead{
    background-color: #ffffe0;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 5vh;
}

#lessonshead h4{
    font-size: 3.5rem;
}

#lessonsnumber .col-12{
    text-align: center;
    
}

#lessonsnumber h6{
    background-color: #afeeee;
    padding: 0;
    margin: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
    font-size: 2rem;
}

#lessonsnumber{
    padding: 0;
    padding-bottom: 5%;
    width: 100%;
    margin-left: 0%;
    background-color: #ffffe0;

}
