@font-face {
    font-family: myFirstFont;
    src: url(/rsufont/RSU_BOLD.ttf) format("truetype");
 }

* {
    font-family: 'myFirstFont', sans-serif;
}


#bg{
    position: fixed;
    height: 96%;
    width: 98%;
    
    top: 1%;
    left: 1%;
    
}

.desbutton{
    top: 3vw;
    left: 5%;
    margin: 3%;
    height: 10vw;
    width: 30%;
    font-size: 3vw;
    background-color: #ffffe0;
    position: relative;
} 

#start{
    background-color: #afeeee;
}
.center{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
}

#contentBox {
    top: 5vw;
    left: 40%;
    position: absolute;
    height: 70%;
    width: 55%;
    overflow: auto;
    border-spacing: 1%;
    border-style: solid;
  }
  
#Content1 {
    display: block;
    height: 10vw;
    width: 10vw;
    
}
#Content2 {
    display: none;
    height: 10vw;
    width: 10vw;


}


#backtomain{
    position: absolute;
    top: 85%;
    left: 12%;
    height: 6vw;
    width: 25vw;
    background-color: #c0c0c0;
    text-align: center;
}
#next{
    position: absolute;
    top: 85%;
    left: 79%;
    height: 6%;
    width: 15%;
    background-color: #afeeee;
}
#back{
    position: absolute;
    top: 85%;
    left: 60%;
    height: 6%;
    width: 15%;
    background-color: #c0c0c0;
}

#next:hover{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) ;
    
}

#back:hover{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) ;
    
}
#db1:hover{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) ;
   
}

#db2:hover{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) ;
   
}

#db1:active{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) inset;
    
}

#db2:active{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) inset;
    
}

#next:active{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) inset;
    background-color: rgb(182, 228, 255);
}

#back:active{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) inset;
    background-color: rgb(182, 228, 255);
}

#backtomain:active{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) inset;
    background-color: rgb(182, 228, 255);
}

#backtomain:hover{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) ;
    
}

#start:hover{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) ;
}

#start:active{
    box-shadow: 3px 5px 15px 3px rgb(46, 46, 46) inset;
}