#titlebox{
    
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
   
}

#titlename{
    font-size: 3.5rem;
}

#titlename p{
    margin: 0;
    color: #6a6a6a;
}

#signupbutton{
    text-align: center;
    margin: 1vw;
    padding-top: 0vh;
    padding-left: 0vw;
    border-radius: 50px;
    border-style: solid;
    font-size: 2rem;
    color: #6a6a6a;
}
#signupbutton:hover{
    text-align: center;
    margin: 1vw;
    padding-top: 0vh;
    padding-left: 0vw;
    border-radius: 50px;
    border-style: solid;
    font-size: 2rem;
    background-color: #afeeee;
    color: white;
    transition: .3s;
}

#signinbutton{
    text-align: center;
    margin: 1vw;
    padding-top: 0vh;
    padding-left: 0vw;
    font-size: 2rem;
    color: #6a6a6a;
}
#signinbutton:hover{
    text-align: center;
    margin: 1vw;
    padding-top: 0vh;
    padding-left: 0vw;
    border-radius: 50px;
    color: white;
    border-style: solid;
    font-size: 2rem;
    background-color: #ffaf5b;
    transition: .3s;
}

@media (min-width:200px){
}
@media (max-width:767px){
    #titlename p{
        text-align: center;
    }
}

#logoutbutton{
    text-align: center;
    margin: 1vw;
    padding-top: 0vh;
    padding-left: 0vw;
    border-radius: 50px;
    font-size: 2rem;
    color: white;
    background-color:#fe8182;
    transition: .3s;
}
#logoutbutton:hover{
    text-align: center;
    margin: 1vw;
    padding-top: 0vh;
    padding-left: 0vw;
    color: black;
    border-style: solid;
    font-size: 2rem;
    background-color: transparent;
    transition: .3s;
}

#username{
    font-size:2rem;
    text-align:center;
    background-color:#afeeee;
    margin: 1vw;
    padding-top: 0vh;
    padding-left: 0vw;
    transition: .3s;
    cursor:pointer;
}

#username:hover{
    text-align: center;
    margin: 1vw;
    padding-top: 0vh;
    padding-left: 0vw;
    color: black;
    border-style: solid;
    font-size: 2rem;
    background-color: transparent;
    transition: .3s;
}