@font-face {
    font-family: myFirstFont;
    src: url(../../../../rsufont/RSU_BOLD.ttf) format("truetype");
 }

* {
    font-family: 'myFirstFont', sans-serif;
}
body{
    padding: 0%;
    margin: 0%;
}
.back{
    position: absolute;
    left: 1.5%;
    top: 2%;
    height: 96%;
    width: 96%;
    border-style: solid;
    border-color:rgb(104, 104, 104);
    margin: 0%;
    padding: 0%;
}

.title{
    position: relative;
    width: 100%;
    height: 6vw;
    background-color: #ffffe0;
}

#b{
    position: absolute;
    transform: translate(-50%,-5vw);
    top: 5vw;
    left: 50%;
    font-size: 4vw;
    width: 100vw;
    color: #555;
}

#contentBox {
    top: 10vw;
    left: 5%;
    position: absolute;
    height: 70%;
    width: 40%;
    overflow: auto;
    border-spacing: 1%;
    border-style: solid;
}

#Content1 {
    font-size: 2vw;
    height: 100%;
    width: 90%;
    margin: 5%;
    
}

#quiz{
    bottom: 0%;
    position: static;
    font-size: 2vw;
    height: 30%;
    width: 96%;
    border-style: solid;
    border-color:rgb(104, 104, 104);
    margin: 1%;
}

#qq{
    bottom: 1%;
    position: static;
    background-color: #afeeee;
    height: 90%;
    width: 96%;
    opacity: 50%;
    margin: 2%;
}

#right {
    top: 10vw;
    right: 5%;
    position: absolute;
    height: 70%;
    width: 40%;
    overflow: auto;
    border-spacing: 1%;
    border-style: solid;
}

.bbb{
    display: inline-block;
    position: absolute;
    bottom: 4%;
    right: 5%;
    height: 4vw;
    width: 15%;
    text-align: center;
    font-size: 3vw;
    background-color: #afeeee;
}

.bb{
    display: inline-block;
    position: absolute;
    bottom: 4%;
    right: 25%;
    height: 4vw;
    width: 15vw;
    text-align: center;
    font-size: 3vw;
    background-color: rgb(111, 252, 170);
}

.b{
    display: inline-block;
    position: absolute;
    bottom: 4%;
    left: 5vw;
    height: 4vw;
    width: 15%;
    text-align: center;
    font-size: 3vw;
    background-color: #c0c0c0;
}